.wg-container {
  display: flex;
  flex-direction: row;
  width: inherit;
}

.wg-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wg-col {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  width: 100%;
  &--50 {
    width: 50%;
  }
}


@media (max-width: 640px) {
  .wg-col {
    padding: 0.5em;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .wg-col {
    padding: 0.5em;
  }
}

@media (min-width: 768px) and (max-width: 950px) {
  .wg-col {
    padding: 1em;
  }
}
