//primary
$wg-primary-color: #f7be3c;
$wg-on-primary-color: #412d00;
$wg-primary-container-color: #5D4200;
$wg-on-primary-container-color: #FFDE9C;

$wg-secondary-color: #FFB3B2;
$wg-on-secondary-color: #69000F;
$wg-secondary-container-color: #92001A;
$wg-on-secondary-container-color: #FFDAD7;

$wg-tertiary-color: #B1CFA8;
$wg-on-tertiary-color: #1E361B;
$wg-tertiary-container-color: #334D2F;
$wg-on-tertiary-container-color: #CDEBC3;

$wg-background: #1E1B16;
$wg-on-background: #E9E1D8;
$wg-surface: #1E1B16;
$wg-on-surface: #E9E1D8;
$wg-surface-variant: #4E4639;
$wg-on-surface-variant: #D1C5B4;

$wg-dark-error: #FFB4A9;
$wg-dark-on-error: #680003;

// breakpoints
$breakpoints: (
  phone: 640px, 
  tablet: 768px, 
  desktop: 1024px
) !default;
