//primary
$wg-primary-color: #425D29;
$wg-on-primary-color: #D8E8CA;
$wg-primary-container-color: #334D2F;
$wg-on-primary-container-color: #CDEBC3;

$wg-secondary-color: #D8BD37;
$wg-on-secondary-color: #F3EABF;
$wg-secondary-container-color: #5D4200;
$wg-on-secondary-container-color: #FFDE9C;

$wg-tertiary-color: #9E1235;
$wg-on-tertiary-color: #F7BACA;
$wg-tertiary-container-color: #92001A;
$wg-on-tertiary-container-color: #FFDAD7;

$wg-background: #1E1B16;
$wg-on-background: white;
$wg-surface: #1E1B16;
$wg-on-surface: #ECEDE7;
$wg-surface-variant: #4E4639;
$wg-on-surface-variant: #D1C5B4;

$wg-dark-error: #FFB4A9;
$wg-dark-on-error: #680003;


// social colors
$wg-social-twitter-background: #1e9bf0;
$wg-social-twitter-on-background: #1A8CD8;


// breakpoints
$breakpoints: (
  phone: 640px, 
  tablet: 768px, 
  desktop: 1024px
) !default;
