.wg-game-data {
  width: 100%;
  height: 100vh;
  background-color: $wg-surface-variant;

  &__content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__value {
    background-color: $wg-on-background;
    border-radius: 6px;
    padding: 8px 10px;
    opacity: 0.8;
  }

  &__buttons {
    padding: 8px 0px;
  }

  &__background {
    width: 50%;
    height: 100%;
    opacity: 0.35;
    position: absolute;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
